
<div class="users">
  <h1>All Users</h1>
    <%= link_to 'Foods' , foods_url, class: "btn btn-small btn-success" %>
  <%= link_to 'Recipes' , recipes_url, class: "btn btn-small btn-success" %>

</div>
